url --url="http://ord.mirror.rackspace.com/rocky/9/BaseOS/x86_64/os/"
repo --name=epel --baseurl=https://mirrors.xmission.com/fedora-epel/9/Everything/x86_64/

# force text mode, please
text

# System language
lang en_US.UTF-8

# disable firstboot
firstboot --disable

# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'

# Disable firewall (We use hardware firewalls)
firewall --disabled

# Set SELinux to enforcing (Which is default)
selinux --enforcing

# Set the timezone
timezone America/Denver

# We are the boot loader
#bootloader --location=partition

# Set the root password
rootpw resetm3n0w

# add a user
user --name=xthor --groups=wheel --password=p@ssw0rd

# Reboot after installation
reboot --eject

# partitioning depends on uefi/mbr config
%include /tmp/uefi
%include /tmp/legacy

# include network information that will be generated in pre
%include /tmp/network.ks

%pre --logfile /tmp/kickstart.install.pre.log --interpreter=/usr/bin/bash
exec < /dev/tty6 > /dev/tty6 2> /dev/tty6

chvt 6
echo "#######################################"
echo "Kickstarted Rocky Linux 9 x86_64"
echo "Enter details to continue"
echo "#######################################"
sleep 1
while [ -z "${NEWHOSTNAME}" ]; do
    read -p "Enter hostname: " NEWHOSTNAME
done

read -p "Type STATIC (all caps) to assign an IP, anything else for DHCP: " NETMODE

if [ "${NETMODE}" == "STATIC" ]; then
    CONFIRM="N"
    while [ "${CONFIRM}" == "N" ]; do
        read -p "IP Address: " IPADDR
        read -p "Subnet Mask: " NETMASK
        read -p "Gateway: " GATEWAY
        read -p "DNS Server: " DNS
        echo
        echo "Does this look right?"
        echo
        echo "IP Address: ${IPADDR} -- Subnet mask: ${NETMASK} -- Gateway: ${GATEWAY} -- DNS: ${DNS}"
        echo
        read -p "CONFIRM by typing Y (any other input will repeat the questions): " CONFIRM
    done
    echo
    sleep 1

    echo "network --onboot=yes --device=link --bootproto=static --noipv6 --activate --hostname=${NEWHOSTNAME} --gateway=${GATEWAY} --ip=${IPADDR} --netmask=${NETMASK} --nameserver=${DNS}" > /tmp/network.ks
else
    sleep 1
    echo "network --onboot=yes --device=link --bootproto=dhcp --noipv6 --activate --hostname=${NEWHOSTNAME}" > /tmp/network.ks
fi

# TODO: pwgen and echo this to screen with pause?

LUKSPASS1="wrong"
LUKSPASS2="wrong1"
while [ "${LUKSPASS1}" != "${LUKSPASS2}" ]; do
  read -s -p "Enter LUKS passphrase (will be set on vg00): " LUKSPASS1
  echo
  read -s -p "Enter LUKS passphrase again: " LUKSPASS2
  echo
done

ROOTDRIVE=""
for DEV in vda sda nvme0n1; do
  if [ -d /sys/block/${DEV} ]; then
    if [ $(cat /sys/block/${DEV}/removable) -eq 0 ]; then
      if [ -z ${ROOTDRIVE} ]; then
        ROOTDRIVE=${DEV}
        SIZE=$(cat /sys/block/${DEV}/size)
        SIZEGB=$((${SIZE}/2**21))
      fi
    fi
  fi
done

if [ -d /sys/firmware/efi ] ; then

cat >> /tmp/uefi <<END
clearpart --all --initlabel --drives=$ROOTDRIVE
part /boot/efi --fstype=efi --size=512
part /boot --fstype="xfs"  --ondisk=$ROOTDRIVE --size=1024
part pv.01  --fstype="lvmpv" --ondisk=$ROOTDRIVE --size=1 --grow --encrypted --passphrase=$LUKSPASS1
volgroup vg00 --pesize=4096 pv.01
logvol swap --fstype="swap" --name="swap" --vgname="vg00" --size=128
logvol /    --fstype="ext4" --name="root" --vgname="vg00" --size=4096 --grow

END

else

cat >> /tmp/legacy <<END
clearpart --all --initlabel --drives=$ROOTDRIVE
bootloader --location=mbr --boot-drive=$ROOTDRIVE
part /boot --fstype="xfs"  --ondisk=$ROOTDRIVE --size=1024
part pv.01  --fstype="lvmpv" --ondisk=$ROOTDRIVE --size=1 --grow --encrypted --passphrase=$LUKSPASS1
volgroup vg00 --pesize=4096 pv.01
logvol swap --fstype="swap" --name="swap" --vgname="vg00" --size=128
logvol /    --fstype="ext4" --name="root" --vgname="vg00" --size=4096 --grow

END

fi 

if [ -d /sys/firmware/efi ] ; then
touch /tmp/legacy
else 
touch /tmp/uefi
fi
chvt 1
exec < /dev/tty1 > /dev/tty1 2> /dev/tty1

%end
%packages
@core --nodefaults
@^minimal-environment
vim-enhanced
bash-completion
wget
dnf-plugins-core
%end

%post
# TODO: maybe username should come from a prompt, and root/user password generated with pwgen as well. just a thought, want to capture before I forget.
# add my ssh pubkey to this server
mkdir -m0700 /home/xthor/.ssh/

cat <<EOF >/home/xthor/.ssh/authorized_keys
ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBJxAV/7QW6fm8xwV05rDjh9eYZlXW54kBcSgfOVKVOAhSzzuH0+CmkZVL6vCYMBnkjGz/f33mp15WZBx4fjxLrw= default@secretive.spindel.local
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDJNEonif7PNwf6DFR1/nqU9phsdgGFzSMO8EWkD3caLDoAs8/TvnQ+iwvzcox8yAKpU6uIaungjEil3LdiScQSB6yJXB++/4pO827+8AkYmo3seKWkk7LTpHuW8zPc8dbsre1uBCuV7VoAeMJkml1O4wwYooJVt55Nfj2qwVqbg7EMyO9C0KN6X85GLOV1WI3Oa95gmwJvnhg3sbFFW0l4DddsU7rmqzftHyfNzgg/X7VbBa1GzAhhr+EmCh19r8msAgVj6odKutk9/Z8bvE9kUH1+4c0WkdpeVOkdcacluRFZ3lrb9+UTdZ/H1ebTEKbpp/wg7eGT+pO4JcFNrqSqyiVkcBjYi6u8rzCJ3KjSy9718wwWM+y3m/NW0gCuuKTQnCeNqe+b1SUvvPZqGvMykGxStHszkVSDjuGZlu9IsP59ALSWDOvTkybu+fIONw4EmItrdPmGqGHYuA0tTzwLh4QqPr8fvF8sZaVislzHaPWzwaafKc2QpxjoABpfXdU= xthor@spindel.xthorsworld.com
EOF

### set permissions
chmod 0600 /home/xthor/.ssh/authorized_keys

### set ownership
chown -R xthor:xthor /home/xthor/.ssh

### fix up selinux context
restorecon -R /home/xthor/.ssh/

### allow sudo without password
sed -i 's/^%wheel/\#%wheel/g' /etc/sudoers
sed -i 's/^\# %wheel/%wheel/g' /etc/sudoers

### why can't epel install from packages? Oh well
dnf config-manager --set-enabled PowerTools
dnf -y install epel-release

## show the IP address on the login screen
echo -e "IPv4: \\\4\n" >> /etc/issue

# End of kickstart script
%end
